/* contactModal css */
.contact__content {
  padding: 10px 0 40px 0;
  background-color: #fefefe;
  border-radius: 10px;
  margin: 50% auto;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact__icon-phone {
  margin-right: 25px;
}

/* Account */

.contact__title {
  font-size: xx-large;
}
  
  .contact__btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color:rgb(95, 25, 25);
    display: flex;
    align-items: center;
  }
  
  .contact__boxes {
    margin-top: 20px;
    border: 1px solid rgb(247, 186, 186);
    border-radius: 3px;
  }
  
  .contact__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 15px 20px;
    border: thin solid rgb(247, 186, 186);
  }

  .contact__box span {
    font-size: x-large;
  }
  

  .contact__icons {
    /* width: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact__icons a {
    color: inherit;
  }

  .contact__guide-text {
    margin-top: 20px;
    color:black;
    font-size: small;
  }
  