.image-container {
  width: 460px;         /* div 너비 */
  height: 800px;        /* div 높이 */
  overflow: hidden;     /* 넘치는 부분 잘라내기 */
  position: relative;   /* 자식 img 절대 위치 기준 */
}

.cover__main-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* div 영역 가득 채우기 */
  position: absolute;
  top: 0;
  left: 0;
}

.cover__text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  /* font-size: 20px; */
  /* font-weight: bold; */
  padding: 10px 0;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); */
}
  
/* 위치별 텍스트 */
.text-marry {
  top: 5%;
  font-size: xx-large;
  font-family: 'Brush Script MT', cursive;
}

.text-name {
  top: 75%;
  transform: translateY(-50%);
  font-size: x-large;
}

.text-time {
  bottom: 16%;
  font-size: large;
}

.text-location {
  bottom: 12%;
  font-size: large;
}


  