.image-gallery {
  width: 320px;
  padding: 20px 0;
}

.gallery__title {
  margin: 30px 0 20px 0;
  font-weight: bold;
    font-size: large;
}


.image-gallery-fullscreen-button .image-gallery-svg, 
.image-gallery-play-button .image-gallery-svg {
  display: none;
}

.image-gallery-thumbnail-image {
  /* display: none; */
}
