.Info__content {
    margin: 15px 0;
    
}

.Info__contents {
    margin-top: 10px;
    font-size: x-large;
}

.Info__title {
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Info__sen {
    width: 340px;
}

.Info_photobooth {
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
}

.Info__btn {
    font-family: 'GangwonEdu';
    font-size: large;
    margin-top: 5px;
    border: 1px solid rgb(196, 168, 168);
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 30px;
}

.Info__btn:hover {
    background-color: rgb(243, 180, 180);
}
