.box__invite {
  width: 460px; 
  background-color: rgba(240,242,245);
  padding: 30px 0;
}
  
  .invitation__title {
    margin: 30px 0 30px 0;
    font-size: large;
    font-weight: bold;
  }
  
  .invitation__content div{
    font-size: large;
    margin-bottom: 20px;
  }
  
