body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'GangwonEdu';
  color: rgb(95, 25, 25); /* 기본 폰트 색상 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('fonts/강원교육모두_Bold.woff')  format('woff');
}

@font-face {
  font-family: 'GangwonEdu';
  src: url('fonts/강원교육모두_Light.woff') format('woff');
}

  @font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('fonts/부크크명조_굵은글씨.woff') format('woff');
  }

  @font-face {
    font-family: 'BookkMyungjo';
    src: url('fonts/부크크명조_얇은글씨.woff') format('woff');
  }
